{% extends 'base.html.twig' %}

{% block title %}Product list!{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Product list</h1>
        <a class="btn btn-success" href="{{ path('information') }}">Information</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <a href="{{ projectSorting.link('id') }}">ID</a>
            </th>
            <th scope="col">
                <a href="{{ projectSorting.link('code') }}">Code</a>
            </th>
            <th scope="col">
                <a href="{{ projectSorting.link('name') }}">Name</a>
            </th>
            <th scope="col">
                <a href="{{ projectSorting.link('type') }}">Type</a>
            </th>
            <th scope="col">
                <a href="{{ projectSorting.link('price') }}">Price</a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for product in paginator.items %}
            <tr>
                <th>{{ product.id }}</th>
                <th>{{ product.code }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% include 'parts/paginator.html.twig' %}
</div>
{% endblock %}
