{% set currentPage = app.request.query.get('page') ?: 1 %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% set lastPage = paginator.lastPage %}
{% set currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}

{% if paginator.lastPage > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item{{ currentPage <= 1 ? ' disabled' : '' }}">
                <a class="page-link" href="{{ path(currentRoute, currentParams|merge({page: currentPage - 1})) }}" aria-label="Previous">
                    &laquo; {{ "Previous"|trans }}
                </a>
            </li>
            {% set startPage = max(1, currentPage - 2) %}
            {% set endPage = min(lastPage, startPage + 4) %}
            {% if startPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(currentRoute, currentParams|merge({page: 1})) }}">1</a>
                </li>
                {% if startPage > 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endif %}
            {% for i in startPage..endPage %}
                <li class="page-item {% if i == currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path(currentRoute, currentParams|merge({page: i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if endPage < lastPage %}
                {% if endPage < lastPage - 1 %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(currentRoute, currentParams|merge({page: lastPage})) }}">{{ lastPage }}</a>
                </li>
            {% endif %}
            <li class="page-item {{ currentPage >= paginator.lastPage ? ' disabled' : '' }}">
                <a class="page-link" href="{{ path(currentRoute, currentParams|merge({page: currentPage + 1})) }}" aria-label="Next">
                    {{ "Next"|trans }} &raquo;
                </a>
            </li>
        </ul>
    </nav>
{% endif %}